.review .review-card {
    display: flex;
    flex-direction: column;
    width: 650px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-x: hidden;
    background: #FFFFFF;
}

.review .review-card .rc-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0F5D88;
    padding: 5px 10px;
}

.review .review-card .rc-header h3 {
    margin: 0;
    color: #FFFFFF;
}

.review .review-card .rc-content p {
    margin: 0;
    padding: 10px;
}
