.review {
    position: relative;
    display: flex;
    flex-direction: row;
}

.transition-helper-0 .review {
    animation: fadeIn 0.3s, fromRight 0.1s;
}

.transition-helper-2 .review,
.transition-helper-3 .review,
.transition-helper-4 .review {
    animation: fadeIn 0.3s, fromLeft 0.1s;
}

.review-sidebar {
    position: fixed;
    border-right: 1px solid #707070;
    width: 200px;
    height: calc(100% - 110px);
    overflow: auto;
    padding: 20px 19px 20px 20px;
    background: #EFEFEF;
    /*animation: fadeIn 1s;*/
}

.review .review-sidebar * {
    max-width: 100%;
}

.review .review-sidebar a  {
    width: 100%;
}

.review .review-sidebar .btn-back {
    border-radius: 30px 10px 10px 30px;
    background: #ff4949;
    color: white;
}

.review .review-sidebar .btn-back:hover {
    background: #e14646;
}

.review .review-sidebar .btn-back:active {
    background: #e36e6e;
}

.review .review-sidebar .btn-submit {
    background: #0F5D88;
    color: white;
}

.review .review-sidebar .btn-submit:hover {
    background: #2874AB;
}

.review .review-sidebar .btn-submit:active {
    background: #2891b6;
}

.review .review-sidebar .img-instructor {
    height: 128px;
    width: 128px;
}

.review-cards,
.review .detailed-review {
    margin-left: auto;
    margin-right: auto;
}

.review-sidebar button {
    background: #C4C4C4;
    width: calc(100%);
    min-height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.review-sidebar button:hover {
    background: #777777;
}

.review-sidebar button:active {
    background: #707070;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

@keyframes fromLeft {
    from {
        left: -100px;
    }
    to {
        left: 0px;
    }
}

@keyframes fromRight {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}