.swap {
    position: relative;
    display: flex;
    flex-direction: row;
    animation: fadeIn 0.3s, fromRight 0.3s;
}

.swap-left-sidebar {
    position: fixed;
    border-right: 1px solid #707070;
    min-width: 200px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    /*animation: fadeIn 1s;*/
}

.swap-nav-link button {
    background: #C4C4C4;
}

.swap-nav-link-active button {
    background: #707070;
}

.swap-nav-link button,
.swap-nav-link-active button {
    width: calc(100% - 20px);
    min-height: 50px;
    margin: 20px 10px 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-left-sidebar nav button:last-of-type {
    /*margin-bottom: 20px;*/
}

.swap-left-sidebar nav button:hover {
    background: #777777;
}

.swap-left-sidebar nav button:active {
    background: #707070;
}

.swap-controls {
    margin: auto 10px 20px;
}

.swap-controls select {
    /*padding-left: 10px;*/
    width: calc(100%);
    text-indent: 10px;
    min-height: 50px;
    /*border: none;*/
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-controls select:active,
.swap-controls select:focus {
    border-radius: 10px 10px 0 0;
}

.swap-controls button {
    background: #0F5D88;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 50px;
    border: none;
    margin: 5px 0 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-controls > button:hover {
    background: #2874AB;
}

.swap-controls > button:active {
    background: #0A66C2;
}

.sec-swap,
.stud-swap {
    display: flex;
    width: 100%;
}

.swap-cards {
    margin: 20px auto;
}

.swap-cards > :not(:first-child) {
    margin-top: 10px;
}

.swap-right-sidebar {
    position: fixed;
    right: 0;
    border-left: 1px solid #707070;
    min-width: 200px;
    height: calc(100% - 110px);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background: #EFEFEF;
}

.swap-right-sidebar > :not(:first-child) {
    margin-top: 30px;
}

.prefer-container > :not(:first-child),
.offer-container > :not(:first-child) {
    margin-top: 10px;
}

.prefer-container > *,
.offer-container > * {
    width: 100%;
}

.table-op-container,
.table-slot-container {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    background: #dddddd;
    overflow: hidden;
}

.table-op-scroll,
.table-slot-scroll {
    overflow: auto;
    height: 200px;
}

.table-op-scroll::-webkit-scrollbar,
.table-slot-scroll::-webkit-scrollbar {
    width: 0.5em;
    scroll-behavior: smooth !important;
}

.table-op-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.table-op-scroll::-webkit-scrollbar-thumb {
    background: darkgray !important;
    border-radius: 20px !important;
}

.table-slot-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #BD2021FF !important;
}

.table-slot-scroll::-webkit-scrollbar-thumb {
    background: #ff4949 !important;
    border-radius: 20px !important;
}

.table-op,
.table-slot {
    border-collapse: collapse;
    border-radius: 10px;
    height: 150px;
    max-height: 150px;
    width: 100%;
}

.table-op thead,
.table-slot thead {
    position: sticky;
    top: 0;
}

.table-op thead tr td,
.table-slot thead tr td {
    padding: 10px;
    border-radius: 10px 0 0 0;
    text-align: center;
}

.table-op thead tr td {
    background: #C4C4C4;
}

.table-slot thead tr td {
    background: #BD1717;
    color: #FFFFFF;
}

.table-op tbody tr td:first-child,
.table-slot tbody tr td:first-child {
    padding: 0 0;
    text-indent: 10px;
}

.table-op tbody tr td,
.table-slot tbody tr td {
    padding: 5px 0;
    height: 30px;
}

.table-op tbody tr:hover {
    background: #55B1D8;
}

.table-slot tbody tr:hover {
    background: #bd202110;
}

.table-op tbody tr td:last-child {
    text-align: center;
    min-width: 15px;
    /*height: 20px;*/
}

.table-op tbody tr td:empty {
    border: none;
}

.offer-container select,
.prefer-container select {
    text-indent: 10px;
    min-height: 50px;
    /*border: none;*/
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.offer-container select:active,
.offer-container select:focus,
.prefer-container select:active,
.prefer-container select:focus,
.slot-container select:active,
.slot-container select:focus {
    border-radius: 10px 10px 0 0;
}

.offer-container button,
.prefer-container button {
    background: #0F5D88;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.slot-container select {
    text-indent: 10px;
    min-height: 50px;
    /*border: none;*/
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.slot-container button {
    background: #BD1717;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.slot-container > button:hover {
    background: #9f0505;
}

.slot-container > button:active {
    background: #c90809;
}

.slot-cbo-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@keyframes fromLeft {
    from {
        left: -100px;
    }
    to {
        left: 0;
    }
}

@keyframes fromRight {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}