@import "../Animations.css";

.swap {
    position: relative;
    display: flex;
    flex-direction: row;
}

.transition-helper-0 .swap,
.transition-helper-1 .swap {
    animation: fadeIn 0.1s, fromRight 0.1s;
}

.transition-helper-3 .swap,
.transition-helper-4 .swap {
    animation: fadeIn 0.3s, fromLeft 0.1s;
}

.swap-left-sidebar {
    position: fixed;
    border-right: 1px solid #707070;
    width: 250px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    background: #EFEFEF;
    padding: 0 10px;
    overflow: auto;
    /*animation: fadeIn 1s;*/
}

.swap-nav-link button {
    /*background: #C4C4C4;*/
}

.swap-nav-link-active button {
    background: #C4C4C4;
}

.swap-nav-link button,
.swap-nav-link-active button {
    width: calc(100%);
    min-height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-nav-link button:first-child,
.swap-nav-link-active button:first-child {
    margin: 20px 0 0;
}

.swap-nav-link-button:not(:first-child) button {
    margin: 5px 0 0;
}

.swap-left-sidebar nav button:last-of-type {
    /*margin-bottom: 20px;*/
}

.swap-nav-link button:hover {
    background: #e0e0e0;
}

.swap-nav-link button:active {
    background: #707070;
}

.swap-controls {
    margin: auto 0 20px;
}

.swap-controls select {
    width: calc(100%);
    text-indent: 10px;
    min-height: 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-controls select:active,
.swap-controls select:focus {
    border-radius: 10px 10px 0 0;
}

.swap-controls button {
    background: #0F5D88;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 40px;
    border: none;
    margin: 5px 0 0;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.swap-controls > button:hover {
    background: #2874AB;
}

.swap-controls > button:active {
    background: #0A66C2;
}

.sec-swap,
.stud-swap {
    position: relative;
    animation: fadeIn 0.8s;
    display: flex;
    width: 100%;
}

.swap-cards {
    margin: 20px auto;
}

.swap-cards > :not(:first-child) {
    margin-top: 10px;
}

.swap-right-sidebar {
    position: fixed;
    right: 20px;
    border-left: 1px solid #707070;
    width: 250px;
    height: calc(100% - 110px);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background: #EFEFEF;
}

.swap-right-sidebar > :not(:first-child) {
    margin-top: 30px;
}

.prefer-container > :not(:first-child),
.offer-container > :not(:first-child),
.slot-container > :not(:first-child) {
    margin-top: 10px;
}

.prefer-container > *,
.offer-container > * {
    width: 100%;
}

.table-op-container,
.table-slot-container {
    width: 100%;
    border-radius: 10px 5px 5px 10px;
    background: #dddddd;
    overflow: hidden;
}

.swap .table-op-container {
    height: 250px;
    min-height: 200px;
}

.table-slot-container,
.stud-swap .table-op-container{
    height: 200px;
}

.table-op-scroll,
.table-slot-scroll {
    overflow: auto;
    height: 100%;
}

.table-op-scroll::-webkit-scrollbar,
.table-slot-scroll::-webkit-scrollbar {
    width: 0.5em;
    scroll-behavior: smooth !important;
}

.table-op-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.table-op-scroll::-webkit-scrollbar-thumb {
    background: darkgray !important;
    border-radius: 20px !important;
}

.table-slot-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #BD2021FF !important;
}

.table-slot-scroll::-webkit-scrollbar-thumb {
    background: #ff4949 !important;
    border-radius: 20px !important;
}

.table-op,
.table-slot {
    border-collapse: collapse;
    border-radius: 10px;
    width: 100%;
}

.table-op thead,
.table-slot thead {
    position: sticky;
    top: 0;
}

.table-op thead tr td,
.table-slot thead tr td {
    padding: 10px;
    border-radius: 10px 0 0 0;
    text-align: center;
}

.table-op thead tr td {
    background: #C4C4C4;
}

.table-slot thead tr td {
    background: #BD1717;
    color: #FFFFFF;
}

.table-op tbody tr td:first-child,
.table-slot tbody tr td:first-child {
    padding: 0 0;
    text-indent: 10px;
}

.table-op tbody tr td,
.table-slot tbody tr td {
    padding: 5px 0;
    height: 30px;
    font-family: "Ubuntu Mono", monospace;
}

.table-op tbody tr:hover {
    background: rgba(85, 189, 189, 0.4);
}

.table-slot tbody tr:hover {
    background: #bd202110;
}

.table-op tbody tr td:last-child {
    min-width: 15px;
    /*height: 20px;*/
}

.table-op tbody tr td:empty {
    border: none;
}

.offer-container select,
.prefer-container select {
    text-indent: 10px;
    min-height: 40px;
    /*border: none;*/
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.offer-container select:active,
.offer-container select:focus,
.prefer-container select:active,
.prefer-container select:focus,
.slot-container select:active,
.slot-container select:focus {
    border-radius: 0;
}

.offer-container button,
.prefer-container button {
    background: #0F5D88;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.offer-container button:hover,
.prefer-container button:hover {
    background: #2874AB;
}

.offer-container button:active,
.prefer-container button:active {
    background: #2891b6;
}

.slot-container select {
    text-indent: 10px;
    min-height: 40px;
    border: 1px solid #BD1717;
    color: #BD1717;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    width: calc(50% - 5px);
}

.slot-container select:not(:first-child) {
    margin-left: 10px;
}

.slot-container button {
    background: #BD1717;
    color: #FFFFFF;
    width: calc(100%);
    min-height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.slot-container > button:hover {
    background: #9f0505;
}

.slot-container > button:active {
    background: #c90809;
}

.slot-cbo-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    justify-items: center;
}

.table-row-delete-cell {
    width: 20px;
    cursor: pointer;
}

.table-row-delete-cell:hover svg {
    fill: #e36e6e;
}


.table-row-delete-cell:active svg {
    fill: #dd4444;
}

.swap-history {
    margin-top: 10px;
    margin-bottom: 10px;
}

.swap-row {
    cursor: pointer;
}

.swap-row.active,
.swap-row.active:hover,
.swap-row.active:active {
    background: rgba(40, 145, 182, 0.5);
}

.swap .swap-left-sidebar .nav {
    height: 105px;
}

.swap .approval-cell.declined {
    color: #ff0000;
}

.swap .approval-cell.pending {
    color: #777777;
}

.swap .approval-cell.approved {
    color: #006512;
}