.login {
    width: calc(100%);
    height: calc(100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login .login-logo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .login-logo img {
    height: 128px;
    width: 128px;
}

.login > .login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto 0;
    padding: 40px 40px;
    min-width: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
    background: #EFEFEF;
}

.login input {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #707070;
    font-size: 18px;
    text-align: center;
}

.login button.submit {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #707070;
    background: #0F5D88;
    color: #EFEFEF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.login button.submit:hover {
    background: #2874AB;
}

.login button.submit:active {
    background: #2891b6;
}

.login button.cancel {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #BD1717;
    background: #FFAAAA;
    color: #BD1717;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.login button.cancel:hover {
    background: #F5BBBB;
}

.login button.cancel:active {
    background: #F0CCCC;
}