@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveDown {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@keyframes fromLeft {
    from {
        left: -100px;
    }
    to {
        left: 0;
    }
}

@keyframes fromRight {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}

@keyframes expandPostTextArea {
    from {
        height: calc(100% - 2px);
    }
    to {
        height: 200px;
    }
}

@keyframes simpleHueChange {
    0% {

    }

    50% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}

@keyframes simpleFly {
    0% {

    }

    25% {
        width: 80%;
    }

    37.5% {
        /*width: 80%;*/
    }

    50% {
        margin-right: 0;
        /*margin-right: auto;!*calc(50% - 160px);*!*/
    }

    67.5% {
        margin-left: calc(100% - 80px);
        width: 80%;
    }

    75% {
    }

    100% {

    }
}

@keyframes full {
    from {
        width: 80px;
    }

    to {
        width: 100%;
    }
    /*50% {*/
    /*    width: 100%;*/
    /*}*/
}