.account-popup {
    position: fixed;
    right: 10px;
    top: 5px;
    width: 220px;
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: rgba(239, 239, 239, 1);
    /*backdrop-filter: blur(10px);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.account-popup input {
    opacity: 0;
    height: 0;
    width: 0;
}

.account-popup:focus {
    visibility: hidden;
}

.account-popup > img {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
    /*animation: lol 2s infinite;*/
}

@keyframes lol {
    50% {
        transform: scale(0.5, .3);
        filter: drop-shadow(0 0 20px black);
    }
}

.account-popup a:hover,
.account-popup .ap-sign-out:hover {
    border-radius: 10px;
    background: rgba(203, 203, 203, 0.5);
}


.account-popup a:active,
.account-popup .ap-sign-out:active {
    border-radius: 10px;
    background: rgba(203, 203, 203, 0.2);
}

.account-popup a,
.account-popup .ap-sign-out {
    text-decoration: none;
    color: #222222;
    padding: 0 10px;
    cursor: pointer;
}

.account-popup .ap-user-name {
}

.account-popup .ap-edit-profile {
    margin-top: 2px;
    font-size: 14px;
    color: #707070;
}

.ap-footer {
    text-align: center;
    margin-top: 10px;
}

.ap-footer > a:first-child {
    margin-top: 10px;
}

.ap-footer > :not(:first-child) {
    margin-top: 5px;
}

.ap-footer a {
    display: block;
    color: #222222;
}

.ap-footer .ap-sign-out {
    color: #BD1717;
    padding: 0 10px;
}