.navbar {
    position: sticky;
    left: 0;
    top: 0;
    height: 70px;
    background: #EFEFEF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

.no-nav {
    display: none;
}

.navbar img {
    height: 40px;
    width: 40px;
}

.navbar p {
    margin: 0px;
}

.left-nav {
    display: flex;
    position: relative;
}

.mid-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 40px;
}

.mid-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-nav nav a {
    line-height: 0;
}

.mid-nav svg {
    padding: 0px 20px;
    border-radius: 10px;
    transition: 0.3s;
    height: 40px;
    width: 40px;
}

.nav-linkactive {
    fill: #0566AF;
}

.nav-link {
    fill: #777777;
}

.mid-nav svg:hover {
    background: #dadada;
    cursor: pointer;
}

.right-nav {
    display: inline-block;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-nav ul li {
    float: left;
}

.right-nav ul li {
    float: right;
}

.user-header {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.user-header:hover,
.active .user-header {
    background: #55B1D8;
}

.user-header:active {
    background: #2891b6;
}

.right-nav ul li > a {
    text-decoration: none;
    color: #222222;
}

.user-header p {
    color: #222222;
}

.user-header.open {
    display: none;
}

.user-header p,
.user-header img {
    display: inline-block;
    margin-right: 10px;
}

.user-header img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.header-more-button > img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.header-more-button > img:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.header-more-button.open > img {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(90deg);
}

.header-more-button > img:active {
    transform: rotate(270deg);
}