.forum {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*overflow: auto;*/
    animation: fadeIn 0.3s, fromLeft 0.1s;
}

.forum .post-cards {

}

.forum .post-cards > :not(:first-child) {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        left: -100px;
    }
    to {
        left: 0;
    }
}

@keyframes fromRight {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}