@import "../Animations.css";

.forum {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*overflow: auto;*/
    animation: fadeIn 0.3s, fromLeft 0.1s;
}

.forum .left-sidebar {
    position: fixed;
    left: 0;
    top: 70px;
    width: 200px;
    height: calc(100% - 110px);
    border-right: 1px solid #707070;
    padding: 20px;
    background: #EFEFEF;
}

.boi-poka {
    display: flex;
    flex-direction: column;
}

.boi-poka:hover .boi-poka-logo {

}

.boi-poka a {
    display: flex;
    background: #14213d;
    border-radius: 15px;
    animation: simpleHueChange 5s infinite;
    transition: all .3s ease-in-out;
}

.boi-poka a:hover {
    box-shadow: 0 0 20px 5px rgb(255, 147, 0);
}

.boi-poka a:active {
    box-shadow: 0 0 10px 2px rgb(75, 172, 213);
}

.boi-poka a:not(:hover) {
    transition: all 1s ease-in-out;
}

.boi-poka-logo {
    border-radius: 15px;
    background: #14213d;
    height: 80px;
    width: 80px;
    /*animation: simpleHueChange 5s infinite;*/
    animation: simpleHueChange 5s infinite, simpleFly 3s infinite;
    transition: all 1s ease-in-out;
}

.idea-connect p {
    margin-top: 20px;
    margin-bottom: 5px;
}

.idea-connect a {
    text-decoration: none;
    color: #222222;
    transition: 0.3s all;
}

.idea-connect a:hover {
    color: #d3d3d3;
}

.idea-connect a:active {
    color: #ffffff;
}

.idea-connect a:not(:hover),
.idea-connect h3:not(:hover) {
    transition: .8s all;
}

.idea-connect h3 {
    margin-top: 5px;
    padding: 5px 5px 5px 0;
    border-radius: 5px;
    transition: 0.5s;
}

.idea-connect h3:hover {
    border-radius: 10px;
    background: #777777;
    padding-left: 5px;
}

.idea-connect h3:active {
    border-radius: 15px;
    background: #222222;
    padding-left: 10px;
}

.forum .post-cards {

}

.forum .post-cards > :not(:first-child) {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        left: -100px;
    }
    to {
        left: 0;
    }
}

@keyframes fromRight {
    from {
        left: 100px;
    }
    to {
        left: 0;
    }
}